#itemDetailMainBox {
  display: grid;
  grid-template-rows: repeat(auto);
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.card-body {
  display: grid;
  grid-template-rows: repeat(auto);
  gap: 1rem;
}

.item-detail-row {
  display: grid;
  grid-template-columns: 40% 60%;
}

.card-footer {
  display: flex;
  justify-content: center;
}
